* {
    margin: 0;
    padding: 0;
    background: #0d0e0e;
    color: #fff;
    font-size: 50px;
    font-family: 'Consolas';
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a {
    cursor: pointer;
    font-size: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.player {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player1 {
    justify-content: right;
}

.scores {
    min-width: fit-content;
    font-weight: bold;
}

.player1-color {
    color: #3333ff;
}

.player2-color {
    color: #ff3333;
}

.ai-color {
    color: #c3ff00;
}

canvas {
    border: 5px solid #303436;
}

input[type='range'] {
    position: absolute;
    right: 2rem;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    background: #fff;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.2s ease;
}

input[type='range']::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

#base_speed {
    bottom: 2rem;
}